In [2]:
import pandas as pd

shopping = {'kittu':pd.Series([1,2,3],['biscuits','apples','drawers']),
           'bunny':pd.Series([4,5,6],['pen','ball','bat'])}

type(shopping)

dict

In [3]:
ship = pd.DataFrame(shopping)

In [4]:
print(ship)

          kittu  bunny
apples      2.0    NaN
ball        NaN    5.0
bat         NaN    6.0
biscuits    1.0    NaN
drawers     3.0    NaN
pen         NaN    4.0

In [6]:
ship.index

Index(['apples', 'ball', 'bat', 'biscuits', 'drawers', 'pen'], dtype='object')

In [7]:
ship.columns

Index(['kittu', 'bunny'], dtype='object')

In [8]:
ship.shape

(6, 2)

In [10]:
ship.ndim

2

In [14]:
ship.size

12

In [12]:
pd.DataFrame(ship,columns=['kittu'])

          kittu
apples      2.0
ball        NaN
bat         NaN
biscuits    1.0
drawers     3.0
pen         NaN

In [15]:
pd.DataFrame(ship,index = [['apples','pen']])

        kittu  bunny
apples    NaN    NaN
pen       NaN    NaN

In [16]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6